@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');


*{
  margin: 0;
  font-family: "Lato";
  color: black;
}

.navbar{
  padding:20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #001155;
}

.navbar h1{
  font-family: "Silkscreen";
  color: #001155;
}

.navbar .links { 
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color:cadetblue;
}

.content{
  margin: 3rem;
  padding: 3rem;
}

.home{
  max-width:400px;
}

.blog-preview{
  padding:20px 26px;
  border-bottom: 2px solid #001155;
 
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px #001155;
}
.blog-preview h2{
  font-size: 20px;
  color: #001155;
  margin-bottom: 8px;
}